/*Fazendo a "viewport" ocupar toda a tela para que eu consiga centralizar com o flex a div*/
html, body {
	/*Fazendo eles ocuparem a tela toda, por padrão o inline deles já é 100%*/
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	/*Inserindo imagem de fundo e fazendo ela ocupar toda a viewport*/
	background: url(../imagens/wallpaper.jpg) no-repeat center center fixed;
	background-size: cover;

	/*Centralizando o contéudo dentro desses elementos*/
	display: flex;
		align-items: center;
		justify-content: center;
}


/*Centralizando contéudo do form, dimensionando e ajustando*/
form {
	display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

	padding: 10px;
	width: 20%;
	height: 45%;
	border:1px solid black;
	border-radius: 10px;/*Efeito de borda arredondada*/
	background: white;
}

form label{
	/*Deixando alinhado as labels*/
	display: inline-block;
	width: 60px;
	text-align: right;

	/*Pequena mudança na fonte e tamanho das labels*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

form .cont{
	padding: 10px;/*aumentando a distância entre as divs que separa o contéudo*/
}

form .cont input{
	width: 70%;/*aumentando tamanho das caixas input*/
	padding: 2px 0;
}

form .cont button{
	padding: 5px 25px;
	background: white;
	border:1px solid black;
}

form .cont button:hover {
	background: black;
	color: white;
	cursor: pointer; /*Adicionando o efeito da mãosinha no cursor*/
}