body {
	background-image:url("../Imagens/background.png");
}

#corpo {
	background-color:white;
	margin:auto;
	width:30%;
	border:1px solid black;
	height:400px;
	/*Código que o germano fez para centralizar*/
	display:flex;
		align-items:center;
		justify-content:center;	
}

#corpo form{

}

#corpo input{
	border:1px solid;
}
